<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% if err %}
            Error
            {% else %}
            All set!
            {% endif %} | SP API OAuth
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ base_path }}/style.css">
    </head>
    <body id="center">
        <div>
            <div>
                {% if missing %}
                <h3>Missing parameters:</h3>
                <ul>
                    {% for param in missing %}
                    <li>{{ param }}</li>
                    {% endfor %}
                </ul>
                {% elseif expired %}
                Your authorization session has expired. Please restart the authorization flow <a href="/">here</a>.
                {% elseif no_session %}
                No session or state data could be found for your account. Please restart the authorization flow <a href="/">here</a>.
                {% elseif invalid_state %}
                Your incoming authorization state value does not match the state value from your initial authorization request. Please restart the authorization flow <a href="/">here</a>.
                {% else %}
                Your account has been successfully authorized!
                <br><br>
                Refresh token: <pre>{{ refresh_token }}</pre>
                <br><br>
                Access token: <pre>{{ access_token }}</pre>
                <br><br>
                Seconds till access token expiration: <pre>{{ expires_in }}</pre>
                {% endif %}
            </div>
        </div>
    </body>
</html>
